{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: "Montserrat", sans-serif;
        overflow: hidden;
    }
</style>
<body>
    {% include "header.html" %}
    <div id="auth-section">
        
            <div id="not-logged-in">
                <h2>Welcome to Our Website</h2>
                <a href="{% url "auth" %}?form=signup" class="btn btn-primary">Sign Up</a>
                <a href="{% url "auth" %}?form=login" class="btn btn-success">Login</a>
            </div>
        {% else %}
            <div id="logged-in">
                <h2>Welcome Back, {{ user.username }}!</h2>
                <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
            </div>
        {% endif %}
    </div>
</body>
</html>
