<section class="explore-section section-padding" id="section_2">
    <div class="container">
        <div class="col-12 text-center">
            <h2 class="mb-4">Subjects</h2>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="grade10-tab" data-bs-toggle="tab" data-bs-target="#grade10" type="button" role="tab" aria-controls="grade10" aria-selected="true">Grade 10</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="grade11-tab" data-bs-toggle="tab" data-bs-target="#grade11" type="button" role="tab" aria-controls="grade11" aria-selected="false">Grade 11</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="grade12-tab" data-bs-toggle="tab" data-bs-target="#grade12" type="button" role="tab" aria-controls="grade12" aria-selected="false">Grade 12</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="tab-content" id="myTabContent">
                {% for grade in 10,11,12 %}
                <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="grade{{grade}}" role="tabpanel" aria-labelledby="grade{{grade}}-tab" tabindex="0">
                    <div class="row">
                        {% for sub in subjects %}
                        {% if sub.grade == grade %}
                        <div class="col-lg-3 col-md-6 col-12 mb-3">
                            <div class="custom-block shadow-lg" style="background-color: {{ sub.bg_color }};">
                                <a href="{% url 'list_courses' sub.id %}">
                                    <div class="d-flex">
                                        <div>
                                            <h5 class="mb-2">{{ sub.name }}</h5>
                                            <p class="mb-0" style="font-size: 14px; color: #334155;">{{ sub.description }}</p>
                                        </div>
                                        <span class="badge bg-design rounded-pill ms-auto">15</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
