{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Topic Listing Contact Page</title>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

        <link href="{% static "css/templatemo-topic-listing.css" %}" rel="stylesheet">
    </head>
    
    <body>
        {% include "header.html" %}
        <section class="explore-section section-padding" id="section_2">
            <div class="container">
                    <div class="col-12 text-center">
                        <h2 class="mb-4">Subjects</h1>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="design-tab" data-bs-toggle="tab" data-bs-target="#design-tab-pane" type="button" role="tab" aria-controls="design-tab-pane" aria-selected="true">Grade 10</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="marketing-tab" data-bs-toggle="tab" data-bs-target="#marketing-tab-pane" type="button" role="tab" aria-controls="marketing-tab-pane" aria-selected="false">Grade 11</button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="finance-tab" data-bs-toggle="tab" data-bs-target="#finance-tab-pane" type="button" role="tab" aria-controls="finance-tab-pane" aria-selected="false">Grade 12</button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">
                              <div class="row">
                                {% for sub in subjects %}
                                  {% if sub.grade == 10 %}
                                    <div class="col-lg-3 col-md-6 col-12 mb-3">
                                      <div class="custom-block shadow-lg" style="background-color: {{sub.bg_color}};">
                                          <a href="#">
                                              <div class="d-flex">
                                                  <div>
                                                      <h5 class="mb-2">{{sub.name}}</h5>

                                                      <p class="mb-0" style="font-size: 14px; color: #334155;">{{sub.description}}</p>
                                                  </div>

                                                  <span class="badge bg-design rounded-pill ms-auto">15</span>
                                              </div>
                                          </a>
                                      </div>
                                    </div>
                                  {% endif %}
                                {% endfor %}
                              </div>
                            </div>

                            <div class="tab-pane fade" id="marketing-tab-pane" role="tabpanel" aria-labelledby="marketing-tab" tabindex="0">
                              <div class="row">
                                {% for sub in subjects %}
                                  {% if sub.grade == 11 %}
                                    <div class="col-lg-3 col-md-6 col-12 mb-3">
                                      <div class="custom-block shadow-lg" style="background-color: {{sub.bg_color}};">
                                          <a href="topics-detail.html">
                                              <div class="d-flex">
                                                  <div>
                                                      <h5 class="mb-2">{{sub.name}}</h5>

                                                      <p class="mb-0" style="font-size: 14px; color: #334155;">{{sub.description}}</p>
                                                  </div>

                                                  <span class="badge bg-design rounded-pill ms-auto">14</span>
                                              </div>
                                          </a>
                                      </div>
                                    </div>
                                  {% endif %}
                                {% endfor %}
                              </div>
                            </div>

                            <div class="tab-pane fade" id="finance-tab-pane" role="tabpanel" aria-labelledby="finance-tab" tabindex="0">
                              <div class="row">
                                {% for sub in subjects %}
                                  {% if sub.grade == 12 %}
                                    <div class="col-lg-3 col-md-6 col-12 mb-3">
                                      <div class="custom-block shadow-lg" style="background-color: {{sub.bg_color}};">
                                          <a href="topics-detail.html">
                                              <div class="d-flex">
                                                  <div>
                                                      <h5 class="mb-2">{{sub.name}}</h5>

                                                      <p class="mb-0" style="font-size: 14px; color: #334155;">{{sub.description}}</p>
                                                  </div>

                                                  <span class="badge bg-design rounded-pill ms-auto">14</span>
                                              </div>
                                          </a>
                                      </div>
                                    </div>
                                  {% endif %}
                                {% endfor %}
                              </div>
                            </div>
                        </div>
                </div>
            </div>
        {% comment %} </section> {% endcomment %}


        <!-- JAVASCRIPT FILES -->
        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
        <script src="{% static "js/jquery.sticky.js" %}"></script>
        <script src="{% static "js/custom.js" %}"></script>

    </body>
</html>
